# This is a basic workflow to help you get started with Actions

name: Check Version Diff

on:
  pull_request:
    types: [opened, reopened]
    
jobs:
  check_diff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: test
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        run: |
          git diff origin/develop..origin/${BRANCH_NAME} --exit-code
  
