name: Test

on:
  issue_comment:
    types: [created]

jobs:
  distribute:
    if: contains(github.event.comment.html_url, '/pull/') && startsWith(github.event.comment.body, '/test')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Create comments
        id: comment
        run: |
          python3 ./.github/workflows/test.py
      - name: Create comments
        id: abc
        run: |
          python3 ./.github/workflows/test.py
