name: Test

on:
  issue_comment:
    types: [created]

jobs:
  distribute:
    if: contains(github.event.comment.html_url, '/pull/') && startsWith(github.event.comment.body, '/test')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: "test ruby"
        id: "test-ruby"
        run: | 
          which ruby
