name: Test

on:
  issue_comment:
    types: [created]

jobs:
  distribute:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Create comments
        id: comment
        run: |
          git diff origin/main..origin/feature/rei/test --exit-code
