name: Test

on:
  issue_comment:
    types: [created]

jobs:
  distribute:
    if: contains(github.event.comment.html_url, '/pull/') && startsWith(github.event.comment.body, '/test')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Create comments
        run: |
          cat << EOF > comments
          1st
          2nd
          3rd
          EOF

      - name: Post comments
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          URL: ${{ github.event.pull_request.html_url }}
        run:
          gh pr comment -F ./comments "${URL}"
